.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}
.pg-title{
  text-decoration: none;
}
.header-relate{
  position: relative;
}
.deligate-slider{
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  word-wrap: break-word;
  height: 30%;
}
.deligate-slider p a{
  text-decoration: none;
}
.con-with-us{
  word-wrap: break-word;
}
.share-post{
  font-size: 25px;
}
.blog-post{
  height: 70vh;
}
.blog-post img{
  object-fit: cover;
  height: 100%;
  vertical-align:top;
}