{% extends "admin/base.html" %}
{% load static %}
 
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
 
{% block extrastyle %}

<link rel="stylesheet" type="text/css" href="{% static "css/admin-extra.css" %}" />

{% endblock %}

{% block branding %}
<h1 id="site-name" style="font-family: 'Urbanist', sans-serif;" ><a href="{% url 'admin:index' %}">Glamour Models Worldwide</a></h1>
{% endblock %}
 
{% block nav-global %}{% endblock %}