{% extends 'base_temp.html' %}
{% block content %}
<div class="text-start mt-md-5 mb-5 mt-5">
    <h1 class="mb-5 text-warning">About Us</h1>
    <h4  class="mb-3 text-warning">A Word From The Rave Universal</h4>
    <p>We've seen Models struggle, fight to get a spot up there, battle with getting things done rightly and also get the right platform to showcase themselves.

        The Rave Universal has come up with a stable and accepting platform that accommodates all types of Model and Pageant Aspirants irrespective of their size, height and location and also give them the right training to stand firm and fight for a position in the Modelling World</p>
    <h4  class="mb-3 text-warning">Mission statement</h4>
    <p>To Educate, Train and Establish Models</p>
    <h4  class="mb-3 text-warning">Who We Are</h4>
    <p>A Modelling and Pageantry Agency in Partnership with Clever Waters and a Registered Business who has connected with a lot of platform to give our aspirants the best</p>
</div>
{% endblock %}
