{% extends 'navbar_temp.html' %} {% block content %}
{% include 'partials/_message.html' %}

<div class="container col-md-8 mt-5 mb-5">
    <h1 class="text-center mb-4 text-warning">NOTICE</h1>
    <p class="fs-5 text-center">
      Before proceeding to the next page, we kindly request that you review and
      agree to our terms and conditions. Our terms outline important information
      about your use of this website and the services we offer. By proceeding to
      the registration page you thereby agree to these terms, you acknowledge
      that you have read and understood them, and you agree to be bound by their
      provisions. If you have any questions or concerns, please do not hesitate
      to contact us. Thank you for your cooperation.
    </p>

    <div class="notice__data__aligned mt-5">
      <a
      href="{% url 'v2_award_validator' %}"
      class=""
      >Register for Awards</a>

      <a 
      href="{% url 'v2_apply_validator' %}"
      class="" 
      >Register for Pageantry</a>
      </div>

      <h5 class="mt-5 text-center underline-x">Terms and Conditions</h5>
    <div class="notice__data mt-4">
        <a
        href="{% url 'awards_terms_and_conditions' %}"
        class=""
        >Awards Registration Terms & Conditions</a>

        <a 
        href="{% url 'pagaentry_terms_and_conditions' %}"
        class="" 
        >Pagaent Registration Terms & Conditions</a>
    </div>

    <div class="mb-5"></div>
    <div class="mb-5"></div>
    <div class="mb-5"></div>
</div>

{% endblock content %}
