{% extends 'navbar_temp.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center">APPLICATION FORM</h1>
    <form>
        <div class="form-group mb-3">
            <label for="forFirstname">First Name</label>
            <input type="text" class="form-control" id="forFirstname" placeholder="Firstname">
        </div>
        <div class="form-group mb-3">
            <label for="forFirstname">Last Name</label>
            <input type="text" class="form-control" id="forFirstname" placeholder="Lastname">
        </div>
        <div class="form-group mb-3">
            <label for="forFirstname">User Name</label>
            <input type="text" class="form-control" id="forFirstname" placeholder="Username">
        </div>
        <div class="form-group mb-3">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group mb-3">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputPassword2">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
          </div>
          <p>
            It takes courage and self determination to attain the crown 
            of the most beautiful campus queen. Take the bold step now, purchase the form for <span class="text-warning b"><b>5000</b></span> only.
          </p>
          <p>By Purchasing the form, you agree to our Terms and Conditions</p>
        <button type="submit" class="btn btn-warning">Buy Form</button>
      </form>
</div>
{% endblock content %}