{% extends 'base_temp.html' %}
{% block content %}

<div class="container pt-5">
    <h3 class="text-warning mb-4">The Ash Awards</h3>
    <div class="mb-5">
        <p class="fs-5">The Ash Awards registered under Clever Waters Empire has created a strategy to Celebrate, Guide, Train, Promote and Fund all Hardworking CEOs and Entrepreneurs around the globe as reward for their effortless commitment in their various fields.</p>


        <div class="mt-5">
            <a href="https://www.facebook.com/theashawards/" class="me-4 text-reset foot-icon-links">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="mailto:info4theashawards@gmail.com" class="me-4 text-reset foot-icon-links">
                <i class="fas fa-envelope"></i>
              </a>
              <a href="https://instagram.com/theashawards?igshid=NTc4MTIwNjQ2YQ==" class="me-4 text-reset foot-icon-links">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="tel:+234 704 374 3047" class="me-4 text-reset foot-icon-links">
                <i class="fa-solid fa-phone"></i>
              </a>
        </div>

        {% comment %} <div class="notice__data__aligned mt-5">
          <a class="btn btn-warning" href="{% url 'award-categories' %}">AWARDS</a>
    
          <a href="{% url 'v2_award_validator' %}" class="btn btn-warning">Register Now</a>
        </div> {% endcomment %}

        <div class="d-flex justify-content-center mt-5">
          <div class="m-2">
            <a href="{% url 'award-categories' %}" class="btn btn-lg btn-secondary fw-bold border-warning bg-warning ">Awards</a>
          </div>
  
          <div class="m-2">
            <a href="{% url 'v2_award_validator' %}" class="btn btn-lg btn-secondary fw-bold border-warning bg-warning ">Register Now</a>
          </div>
        </div>
    </div>

</div>

{% endblock content %}