{% extends 'base_temp.html' %}
{% block content %}

<div class="text-start mt-md-5 mb-5 mt-5">
    <h3 class="mb-3 text-warning">THE ASH AWARD 2023 TERMS AND CONDITION</h3>
    <p>The below mentioned is binded by the appropriate bodies and its importance is to guide and educate the Award Nominees of THE ASH AWARDS 2023 of the brand’s terms and condition during its process.</p>

    <h4 class="mb-3 text-warning">VOTING</h4>
    <p>1. The Ash Award Voting stage would be done through online paid voting and will be an open poll vote where other nominees can track the progress of each and everyone’s vote.</p>
    <p>2. Minimum in a category is Five (5) Award Nominees and maximum is Eight (8). Situations where there are more than eight nominees in a category, then the brand allows it. </p>
    <p>3. For a category to be eligible for Endorsement Deals, they must accumulate a total of 4,000 Votes. Category with lesser Nominees isn’t exempted.</p>
    <p>4. For a category to be eligible for Brand Sponsorship, the category must have hit an accumulated vote of 8,000 votes.</p>
    <p>5. Voting last for 10 weeks except where there are changes to fit the Event Calendar.</p>
    <p>6. Leaderboard for every category is dropped in the forum every Friday before 8pm.</p>
    <p>7. The Nominee with least vote in a category with over three Nominees gets evicted every Friday
        and any vote that comes in won’t count for the Nominee. This term is exempted if the category
        has hit the designated number of votes in the category or the least person has over 500 votes.</p>
    <p>8. Nominees are advised to stay out of members DM until the end of the competition.</p>

    <h4 class="mb-3 text-warning">SPONSORSHIP</h4>
    <p>
        1. All categories have branded sponsors who will award the Winner on the Grand Finale and also go into Ambassadorship deal or Partnership deal with the winner. Our Brand Partners and Sponsors can be seen on the Brand Tab.
    </p>
    <p>2. Every category will get 30% discount for Grand Finale Magazine offer.</p>
    <p>3. Sponsorship deal will only be available to categories who hit the voting bench
        mark of 8,000 votes.</p>
    <p>4. Sponsors and Partners have full right to terminate sponsorship or partnership of the category
        winner if he or she displays ill behavior during the space of the contract as The Ash Awards also have the right to file for compensation if Partner/Sponsor brands terminate contracts with Winners without good reasons.</p>
    <h4 class="mb-3 text-warning">GRAND FINALE PARTY</h4>
    <p>1. Every Winner gets a VIP access and a Regular Ticket access for his or her Assistant. 40% discount for more than Five VIP ticket bought in his or her name.</p>
    <p>2. Every Nominee (Winner and Others) are eligible for the After Party and each persons will be in charge of his or her transportation from the Venue to the Location. For situation where there’s a team bus, you’ll be notified on the cost per seat.</p>
    <p>3. Champagne and Grills in the After Party is 100% sponsored and taken care of by the Organization.</p>
    <p>4. Plaque will be given to every Category Winners and a Certificate of Participation will be given to
        every participant on the Grand Finale.</p>
    <p>5. For winners who will not make it to the Grand Finale, Plaque and Certificate would be way billed
        to your destination but waybill expenses would be fully handled by the Awardee.</p>



</div>

{% endblock content %}