{% extends 'base_temp.html' %}
{% block content %}

<div class="container pt-5">
    <h3 class="text-warning mb-4">UNDER 30 CEO's AWARDS</h3>
    <div class="mb-5">
        <p class="fs-5">The Under 30 CEOs registered under Clever Waters Empire has created a strategy to Celebrate, Guide, Train, Promote and Fund all Hardworking CEOs and Entrepreneurs around the globe as reward for their effortless commitment in their various fields.</p>

        <h6 class="mt-5">The Rave Universal and The Under 30 CEOs Regional Representative in Nigeria:</h6>
        <small>Eastern Region: Dahood <a href="tel:+234 706 844 7482">+234 706 844 7482</a></small>
        <small>Western Region: Kelz  <a href="tel:+234 816 468 9907">+234 816 468 9907</a></small>
        <small>Southern Region: Adewale  <a href="tel:+234 815 701 3773">+234 815 701 3773</a></small>
        <small>Northern Region: Tega  <a href="tel:+234 701 935 7912">+234 701 935 7912</a></small>
        <div class="mt-5">
            <a href="https://www.facebook.com/TheUnder30CEOs/" class="me-4 text-reset foot-icon-links">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="mailto:info4theunder30ceos@gmail.com" class="me-4 text-reset foot-icon-links">
                <i class="fas fa-envelope"></i>
              </a>
              <a href="https://instagram.com/theunder30ceos?igshid=YmMyMTA2M2Y=" class="me-4 text-reset foot-icon-links">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://github.com/kejiahp" class="me-4 text-reset foot-icon-links">
                <i class="fab fa-github"></i>
              </a>
        </div>
        <div class="mt-5">
            <a class="btn btn-warning" href="{% url 'award-categories' %}">AWARDS</a>
        </div>
    </div>

</div>

{% endblock content %}