{% extends 'navbar_temp.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}

<div class="container-fluid text-center mt-5">

        <form action="{% url 'category-search' %}" method="POST" class="mt-5 ms-5 me-5">
                {% csrf_token %}
            <div class="form-group d-md-flex">
                <input type="text" name="category-search" class="form-control" placeholder="SEARCH FOR CATEGORY">
                <button type="text" class="btn btn-warning ms-3 mt-md-0 mt-3">SEARCH</button>
            </div>
        </form>

        <div class = "btn-group mt-3 ms-md-0 ms-3">
            <button type = "button" class = "btn btn-light dropdown-toggle" data-toggle = "dropdown">
               Award Categories 
               <span class = "caret"></span>
            </button>
            <ul class = "dropdown-menu categ-dropdown" role = "menu">
                {% for category in categories %}
                <li><a class="dropdow-cat-links " href = "#{{ category.name }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
         </div>
{% if categories %}
    {% for category in categories %}
    <div class="category">
        <h3 class="text-center mt-5 mb-5" id='{{ category.name }}'>{{ category.name }}</h3>
        <div class="container-fluid ps-md-5 pe-5 ps-5 grid-rows">
            {% if category.newawardsregistration_set.all %}
                {% for contestant in category.newawardsregistration_set.all %}
                        <div class="const__card">
                            <div class="const__imageHolder">
                                <img class="const__img" src="{{ contestant.image1.url }}" alt="Card image cap">
                            </div>
                            <div class="const__textArea">
                                <h4 class="">{{contestant.fullname}}</h4>
                                <p class="const__subHeader">{{ contestant.tell_us }}</p>
                                <p class="const__subHeader">No of current Votes: {{ contestant.number_of_votes }}</p>
                                <div class="const__voteBtnHolder">
                                    <a href="{% url 'award-vote' contestant.id %}" class="const__voteBtn">View Contest</a>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                {% else %}
                <p class="text-center text-warning unavailable"><small>Sorry, there are currently no contestants in this category</small></p>
            {% endif %}
        </div>
    </div>
    {% endfor %}

{% else %}
         <h4 class="mt-4 mb-4 unavailable">Categories are not currently available</h4>
{% endif %}

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
</div>
{% endblock content %}


{% block scriptholder %}
<script>
    //Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}

</script>
{% endblock scriptholder %}