{% extends 'navbar_temp.html' %} {% block content %}
<!-- Button trigger modal -->
<button type="button" id="modalActivate" class="visually-hidden btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch demo modal
  </button>

  <div class>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-warning text-center" id="exampleModalLabel">You're a first timer👋</h5>
          </div>
          <div class="modal-body">
            <p class="fs-6 text-dark">
              Before proceeding to fill the form, we kindly request that you review and
              agree to our terms and conditions. Our terms outline important information
              about your use of this website and the services we offer. By proceeding to
              register, you thereby agree to these terms, you acknowledge
              that you have read and understood them, and you agree to be bound by their
              provisions. If you have any questions or concerns, please do not hesitate
              to contact us. Thank you for your cooperation.
            </p>
            <h5 class="text-dark">Terms and Conditions</h5>
            <div>
              <a
              href="{% url 'awards_terms_and_conditions' %}"
              style="font-size:14px;color:#000;"
              >Awards Registration Terms & Conditions</a>
            </div>
  
          </div>
   
          <div class="modal-footer">

            <div class="">
              <button type="button" class="btn btn-warning py-2" id="closeModal" data-bs-dismiss="modal">ACCEPT</button>
              <a
              href="{% url 'home' %}"
              class="btn btn-secondary py-2"
              >DECLINE</a>
            </div>


          </div>
        </div>
      </div>
    </div> 
  
  
  </div>
<div class="container">
    <h1 class="text-center mt-5">AWARDS APPLICATION FORM</h1>
    <form
      action="{% url 'v2_award_validator' %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %} {% include 'partials/_message.html' %}

      <div class="form-group mb-3">
        <label for="firstname">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstname"
          placeholder="Firstname"
          name="firstname"
          required
          {% if form.is_bound %}value="{{form.firstname.value}}"{% endif %}
        />
        {% for err in form.firstname.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>

      <div class="form-group mb-3">
        <label for="lastname">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastname"
          placeholder="lastname"
          name="lastname"
          required
          {% if form.is_bound %}value="{{form.lastname.value}}"{% endif %}
        />
        {% for err in form.lastname.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>

      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="email"
          name="email"
          required
          {% if form.is_bound %}value="{{form.email.value}}"{% endif %}
        />
        {% for err in form.email.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>

      <div class="form-group mb-3">
        <label for="category">Award Category</label>
        <br />
        <small class="text-warning">Don't know which category to pick? <a target="_blank" href="{% url 'awards_category_description' %}">Click Here to see category descriptions.</a></small>
        <select class="form-control" name="category" id="category" required>
          <option disabled>select a unit</option>
          <option value="VIDEO DIRECTOR OF THE YEAR">VIDEO DIRECTOR OF THE YEAR</option>
          <option value="PAGEANT ICON OF THE YEAR">PAGEANT ICON OF THE YEAR</option>
          <option value="ARTISTE OF THE YEAR">ARTISTE OF THE YEAR</option>
          <option value="MEDIA PERSONALITY OF THE YEAR">MEDIA PERSONALITY OF THE YEAR</option>
          <option value="ENTREPRENEUR OF THE YEAR">ENTREPRENEUR OF THE YEAR</option>
          <option value="CINEMATIC STAR OF THE YEAR">CINEMATIC STAR OF THE YEAR</option>
          <option value="SONG / ARTISTE OF THE YEAR">SONG / ARTISTE OF THE YEAR</option>
          <option value="BRAND OF THE YEAR">BRAND OF THE YEAR</option>
          <option value="DANCER OF THE YEAR">DANCER OF THE YEAR</option>
          <option value="MODEL OF THE YEAR OF THE YEAR">MODEL OF THE YEAR OF THE YEAR</option>
          <option value="COMEDIAN / SKITMAKER OF THE YEAR">COMEDIAN / SKITMAKER OF THE YEAR</option>
          <option value="FASHION DESIGNER OF THE YEAR">FASHION DESIGNER OF THE YEAR</option>
          <option value="REAL ESTATE COMPANY OF THE YEAR">REAL ESTATE COMPANY OF THE YEAR</option>
          <option value="SKINCARE BRAND OF THE YEAR">SKINCARE BRAND OF THE YEAR</option>
          <option value="CREATIVE DIRECTOR OF THE YEAR">CREATIVE DIRECTOR OF THE YEAR</option>
          <option value="MC OF THE YEAR">MC OF THE YEAR</option>
          <option value="ATHLETE OF THE YEAR">SOCIAL MEDIA INFLUENCER OF THE YEAR</option>
          <option value="CONTENT CREATOR OF THE YEAR">CONTENT CREATOR OF THE YEAR</option>
          <option value="TV STAR OF THE YEAR">TV STAR OF THE YEAR</option>
          <option value="MAKEUP ARTISTE OF THE YEAR">MAKEUP ARTISTE OF THE YEAR</option>
          <option value="CEO OF THE YEAR">CEO OF THE YEAR</option>
          <option value="CREATIVE OF THE YEAR">CREATIVE OF THE YEAR</option> 
          <option value="WRITER / BLOGGER OF THE YEAR">WRITER / BLOGGER OF THE YEAR</option> 
          <option value="DJ OF THE YEAR">DJ OF THE YEAR</option> 
        </select>
        {% for err in form.category.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>

      <div class="form-group mb-3">
        <label for="date_birth">Date Of Birth</label>
        <input
          type="date"
          class="form-control"
          id="date_birth"
          placeholder="date_birth"
          name="date_birth"
          required
          {% if form.is_bound %}value="{{form.date_birth.value}}"{% endif %}
        />
        {% for err in form.date_birth.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>

      
      <div class="form-group mb-3">
        <label for="date_birth">Image</label>
        <input
          type="file"
          accept="image/*"
          class="form-control"
          id="image1"
          placeholder="image"
          name="image1"
          required
        />
        {% for err in form.image1.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>
      
      <div class="form-group mb-3">
        <label for="date_birth">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phone_no"
          placeholder="phone number"
          name="phone_no"
          required
        />
        {% for err in form.phone_no.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>

      <div class="form-group mb-3">
        <label for="instagram_handle">Instagram Handle</label>
        <input
          type="text"
          class="form-control"
          id="instagram_handle"
          placeholder="instagram handle"
          name="instagram_handle"
          required
          {% if form.is_bound %}value="{{form.instagram_handle.value}}"{% endif %}
        />
        {% for err in form.instagram_handle.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>

      <div class="form-group mb-3">
        <label for="gender">Gender</label>
        <select class="form-control" name="gender" id="gender" required>
          <option disabled>select a unit</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        {% for err in form.gender.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>

      <div class="form-group mb-3">
        <label for="brand_name">Brand Name</label>
        <input
          type="text"
          class="form-control"
          id="brand_name"
          placeholder="brand name"
          name="brand_name"
          required
          {% if form.is_bound %}value="{{form.brand_name.value}}"{% endif %}
        />
        {% for err in form.brand_name.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>

      <div class="form-group mb-3">
        <label for="industry_years">Number of years in Industry</label>
        <input
          type="number"
          min="0"
          class="form-control"
          id="industry_years"
          placeholder="no of industry years"
          name="industry_years"
          required
          {% if form.is_bound %}value="{{form.industry_years.value}}"{% endif %}
        />
        {% for err in form.industry_years.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-warning">SUBMIT</button>

</form>
</div>
 
{% endblock content %}

{% block scriptholder %} 
<script  type="text/javascript">


window.setTimeout(function() {
  if( document.getElementById('modalActivate') ) {
    /* Code goes here*/ 
    function activator() {
      var myModalActivator = document.getElementById('modalActivate')
      myModalActivator.click()
    }
    const isAwardFirstTimer = localStorage.getItem("first_award_timer");
    if (!isAwardFirstTimer) {
      activator()
    }
  }
}, 2000 /* but after 400 ms */);

function awardFirstTimerTrue() {
  localStorage.setItem("first_award_timer", "true");
}

const closeModal = document.getElementById('closeModal')
closeModal.addEventListener('click', awardFirstTimerTrue)

</script>

{% endblock scriptholder %}