{% extends 'navbar_temp.html' %}
{% block content %}

{% comment %} col-lg-4 col-md-6 d-flex align-items-stretch text-dark {% endcomment %}

<div class="container-fluid">
    {% if categories %}

        {% for category in categories %}
            <div class="category">
                <h3 class="text-center mt-5 mb-5" id='{{ category.name }}'>{{ category.name }}</h3>
                <div class="container-fluid ps-md-5 pe-5 ps-5 grid-rows">
                    {% if category.awardscontestant_set.all %}
                        {% for contestant in category.awardscontestant_set.all %}
                                <div class="const__card">
                                    <div class="const__imageHolder">
                                        <img class="const__img" src="{{ contestant.image1.url }}" alt="Card image cap">
                                    </div>
                                    <div class="const__textArea">
                                        <h4 class="">{{contestant.fullname}}</h4>
                                        <p class="const__subHeader">{{ contestant.tell_us }}</p>
                                        <p class="const__subHeader">No of current Votes: {{ contestant.number_of_votes }}</p>
                                        <div class="const__voteBtnHolder">
                                            <a href="{% url 'award-vote' contestant.id %}" class="const__voteBtn">View Contest</a>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                        {% else %}
                        <p class="text-center text-warning unavailable"><small>Sorry, there are currently no contestants in this category</small></p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="unavailable">{{ message }}</p>
    {% endif %}
</div>

{% endblock content %}