{% extends 'navbar_temp.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<h1 class="text-center mt-2 mb-5 text-warning">Female Contestants</h1>

<div class="container-fluid ps-md-5 pe-md-5 row gy-5 ps-5">
    {% if female_cont %}
    <form action="{% url 'search-contest' %}" method="post">
        {% csrf_token %}
        <div class="form-group mb-4">
            <input type="text" name="cont_search" class="form-control" placeholder="Search By Name" required>
            <button type="submit" class="btn btn-warning mt-3 mb-3">Search</button>
          </div>
    </form>
    {% for cont in female_cont %}

    <div class = "col-lg-4 col-md-6 d-flex align-items-stretch text-dark">
        <div class="card border-0">
        <img class="card-img-top" src="{{ cont.image1.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mb-2">{{ cont.fullname }}</h5>
            <p class="card-text">PRT Project Title: {{ cont.tell_us|title }}</p>
            <p class="card-text">No of current Votes: {{ cont.number_of_votes|intcomma }}</p>
            <a href="{% url 'vote' cont.id %}" class="btn btn-warning">VOTE</a>
        </div>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <h1 class="text-center">No Contestants present</h1>
    <p class="text-center"><a href="{% url 'buyform' %}" class="btn btn-warning">APPLY</a></p>
    {% endif %}

    
</div>
{% endblock content %}