{% extends 'navbar_temp.html' %}
{% load static %}
{% block content %}
<h1 class="text-center mt-2 mb-5 text-warning">Female Contestants</h1>

<div class="container-fluid ps-md-5 pe-md-5 row gy-5">

    <div class = "col-lg-4 col-md-6 d-flex align-items-stretch text-dark">
        <div class="card border-0">
        <img class="card-img-top" src="{% static 'images/beauty.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mb-2">OJOLOWON ADEFOLARIN OLUWADARASIMI</h5>
            <p class="card-text">PRT Project Title:</p>
            <p class="card-text">No of current Votes:</p>
            <a href="{% url 'vote' %}" class="btn btn-warning">VOTE</a>
        </div>
        </div>
    </div>

    <div class = "col-lg-4 col-md-6 d-flex align-items-stretch text-dark">
        <div class="card border-0">
        <img class="card-img-top" src="{% static 'images/beauty.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mb-2">OJOLOWON ADEFOLARIN OLUWADARASIMI</h5>
            <p class="card-text">PRT Project Title:</p>
            <p class="card-text">No of current Votes:</p>
            <a href="{% url 'vote' %}" class="btn btn-warning">VOTE</a>
        </div>
        </div>
    </div>

    <div class = "col-lg-4 col-md-6 d-flex align-items-stretch text-dark">
        <div class="card border-0">
        <img class="card-img-top" src="{% static 'images/beauty.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mb-2">OJOLOWON ADEFOLARIN OLUWADARASIMI</h5>
            <p class="card-text">PRT Project Title:</p>
            <p class="card-text">No of current Votes:</p>
            <a href="{% url 'vote' %}" class="btn btn-warning">VOTE</a>
        </div>
        </div>
    </div>

    <div class = "col-lg-4 col-md-6 d-flex align-items-stretch text-dark">
        <div class="card border-0">
        <img class="card-img-top" src="{% static 'images/beauty.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mb-2">OJOLOWON ADEFOLARIN OLUWADARASIMI</h5>
            <p class="card-text">PRT Project Title:</p>
            <p class="card-text">No of current Votes:</p>
            <a href="{% url 'vote' %}" class="btn btn-warning">VOTE</a>
        </div>
        </div>
    </div>

    <div class = "col-lg-4 col-md-6 d-flex align-items-stretch text-dark">
        <div class="card border-0">
        <img class="card-img-top" src="{% static 'images/beauty.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mb-2">OJOLOWON ADEFOLARIN OLUWADARASIMI</h5>
            <p class="card-text">PRT Project Title:</p>
            <p class="card-text">No of current Votes:</p>
            <a href="{% url 'vote' %}" class="btn btn-warning">VOTE</a>
        </div>
        </div>
    </div>

    <div class = "col-lg-4 col-md-6 d-flex align-items-stretch text-dark">
        <div class="card border-0">
        <img class="card-img-top" src="{% static 'images/beauty.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mb-2">OJOLOWON ADEFOLARIN OLUWADARASIMI</h5>
            <p class="card-text">PRT Project Title:</p>
            <p class="card-text">No of current Votes:</p>
            <a href="{% url 'vote' %}" class="btn btn-warning">VOTE</a>
        </div>
        </div>
    </div>

    
</div>
{% endblock content %}