{% extends 'navbar_temp.html' %} {% block content %} {% include
'partials/_message.html' %}
<div class="container col-md-6">
  <div class="card text-center text-dark mt-4 mb-4">
    <h4 class="card-header text-warning">JOIN THE WHATSAPP GROUP</h4>
    <div class="card-body">
      <h5 class="card-title">Why join the group?</h5>
      <p class="card-text mt-4">
        The purpose of the whatsapp group is to approve your particiption in the
        contest and generate a custom image that the voters will use to identify
        you.
      </p>
      <p class="text-danger">PLEASE ENSURE YOU JOIN</p>
      <a
        href="https://chat.whatsapp.com/ITPF2MfIjfT7ttXNTsDIGB"
        class="btn btn-warning"
        >JOIN GROUP</a
      >
    </div>
  </div>
</div>
{% endblock content %}
