{% extends 'navbar_temp.html' %}
{% load static %}
{% load humanize %}
{% load cloudinary %}
{% block content %}
<h1 class="text-center mt-2 mb-5 text-warning">Male Contestants</h1>
{% if male_cont %}
  <form class="container-fluid ps-md-5 pe-5 ps-5" action="{% url 'search-contest' %}" method="post">
    {% csrf_token %}
    <div class="form-group mb-4">
        <input type="text" name="cont_search" class="form-control" placeholder="Search By Name" required>
        <button type="submit" class="btn btn-warning mt-3 mb-3">Search</button>
      </div>
  </form>
{% endif %}

<div class="container-fluid ps-md-5 pe-5 ps-5 grid-rows">
    {% if male_cont %}
      {% for cont in male_cont %}
        <div class="const__card">
          <div class="const__imageHolder">
            <img class="const__img" alt="" src="{{ cont.image1.url }}"/>
          </div>
          <div class="const__textArea">
            <h5>{{ cont.fullname }}</h5>
            <p class="const__subHeader" style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">PRT Project Title: {{ cont.tell_us|title }}</p>
            <p class="const__subHeader">No of current Votes: {{ cont.number_of_votes|intcomma }}</p>
            <div class="const__voteBtnHolder">
              <a href="{% url 'vote' cont.id %}" class="const__voteBtn">VOTE</a>
            </div>
          </div>
        </div>
      {% endfor %}  
      {% else %}
      <div class="unavailable">
        <h1 class="text-center">No Contestants present</h1>
        <p class="text-center"><a href="{% url 'buyform' %}" class="btn btn-warning">APPLY</a></p>
      </div>
    {% endif %}

</div>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
{% endblock content %}



{% block scriptholder %}
<script>
    //Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}

</script>
{% endblock scriptholder %}