{% extends 'base_temp.html' %}
{% block content %}

<div class="text-start mt-md-5 mb-5 mt-5">

    <h3 class="mb-3 text-warning">THE GLAMOUR MODELS WORLDWIDE 2023 TERMS AND CONDITION</h3>

<p>The below mentioned is binded by the appropriate bodies and its importance is to guide and educate the Pageant Nominees of THE GLAMOUR MODELS WORLDWIDE 2023 of the brand’s terms and condition during its process.</p>


<h4 class="mb-3 text-warning">
    VOTING
</h4>
<p>
    1. The Glamour Models Worldwide Voting stage would be done through online paid voting and will be an open poll vote where other contestants can track the progress of each and everyone’s vote.
</p>
<p>
    2. For Ticket Sales, Every Contestants must hit Atleast 50% of their given ticket sales target in other to qualify to be a Finalist
</p>
<p>

    3. For a contestants to be eligible for Endorsement Deals, they must accumulate a total of 2,000 Votes. 
</p>
<p>
    4. For a contestants to be eligible for Brand Sponsorship, Full Cash Prize and PET Project Funding, the contestants must have hit an accumulated vote of 10,000 votes.
</p>
<p>
    5. Voting last for 12 weeks except where there are changes to fit the Event Calendar.
</p>
<p>
    6. Leaderboard is dropped in the forum every Friday before 8pm.
</p>
<p>
    7. The contestants with least vote gets evicted every Friday and any vote that comes in won’t count for the Contestants. This term is exempted if the Contestant has hit the designated number of votes or the least person has over 1000 votes.
</p>
<p>
    8. Contestants are advised to stay out of other members DM until the end of the competition.
</p>


<h4 class="mb-3 text-warning">
    SPONSORSHIP
</h4>
<p>
    1. Sponsors will award the Winner on the Grand Finale and also go into Ambassadorship deal or Partnership deal with the winner. Our Brand Partners and Sponsors can be seen on the Brand Tab.
</p>
<p>
    2. Finalist will get 30% discount for Grand Finale Magazine offer.
</p>
<p>
    3. Sponsorship Deal will only be available to contestant who hit the voting bench
    mark of 2,000 votes.
</p>
<p>
    4. Sponsors and Partners have full right to terminate sponsorship or partnership of the category
    winner if he or she displays ill behavior during the space of the contract as The  Glamour Models Worldwide also have the right to file for compensation if Partner/Sponsor brands terminate contracts with Winners without good reasons.
</p>

<h4 class="mb-3 text-warning">
    GRAND FINALE PARTY
</h4>
<p>
    1. Every Finalist gets a VIP access and a Regular Ticket access for his or her Assistant. 
</p>
<p>
    2. Finalist are eligible for the After Party and each persons will be in charge of his or her transportation from the Venue to the Location. For situation where there’s a team bus, you’ll be notified on the cost per seat.
</p>
<p>
    3. Champagne and Grills in the After Party is 100% sponsored and taken care of by the Organization.
</p>
<p>
    4. Certificate of Participation will be given to every participant on the Grand Finale.
</p>
</div>

{% endblock content %}