{% extends 'base_temp.html' %}
{% block content %}

<div class="text-start mt-md-5 mb-5 mt-5">
    <h3 class="mb-3 text-warning">THE ASH AWARD 2023 TERMS AND CONDITION</h3>
    <p>The below mentioned is binded by the appropriate bodies and its importance is to guide and educate the Award Nominees of THE ASH AWARDS 2023 of the brand’s terms and condition during its process.</p>

    <h4 class="mb-3 text-warning">VOTING</h4>
    <p>1. The Ash Award Voting stage would be done through online paid voting and will be an open poll vote where other nominees can track the progress of each and everyone’s vote.</p>

    <h4 class="mb-3 text-warning">SPONSORSHIP</h4>
    <p>
        1. All categories have branded sponsors who will award the Winner on the Grand Finale and also go into Ambassadorship deal or Partnership deal with the winner. Our Brand Partners and Sponsors can be seen on the Brand Tab.
    </p>

</div>

{% endblock content %}