{% extends 'navbar_temp.html' %}
{% load static %}
{% block content %}

<div class="container mt-5 mb-5">
    <h3 class="text-warning text-center mb-5">Our Sponsors & Partners</h3>

    <div class="">

        <div class="card mb-3" style="background-color: transparent; border: none;">
            <img src="{% static 'images/Partners-Sponsors-Logo/Logos1.jpg' %}" class="card-img-top" alt="..." style="height: 400px; object-fit:cover;"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, mollitia? Quibusdam quam, quisquam voluptates minus dolorum consequatur harum illum corporis rerum iste blanditiis cum officia, sequi numquam fugiat optio placeat? card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card mb-3" style="background-color: transparent; border: none;">
            <img src="{% static 'images/Partners-Sponsors-Logo/Logos2.jpg' %}" class="card-img-top" alt="..." style="height: 400px; object-fit:cover;"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card mb-3" style="background-color: transparent; border: none;">
            <img src="{% static 'images/Partners-Sponsors-Logo/Logos3.jpg' %}" class="card-img-top" alt="..." style="height: 400px; object-fit:cover;"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card mb-3" style="background-color: transparent; border: none;">
            <img src="{% static 'images/Partners-Sponsors-Logo/Logos4.jpg' %}" class="card-img-top" alt="..." style="height: 400px; object-fit:cover;"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card mb-3" style="background-color: transparent; border: none;">
            <img src="{% static 'images/Partners-Sponsors-Logo/Logos5.jpg' %}" class="card-img-top" alt="..." style="height: 400px; object-fit:cover;"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card mb-3" style="background-color: transparent; border: none;">
            <img src="{% static 'images/Partners-Sponsors-Logo/Logos6.png' %}" class="card-img-top" alt="..." style="height: 400px; object-fit:cover;"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card mb-3" style="background-color: transparent; border: none;">
            <img src="{% static 'images/Partners-Sponsors-Logo/Logos7.jpg' %}" class="card-img-top" alt="..." style="height: 400px; object-fit:cover;"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card mb-3" style="background-color: transparent; border: none;">
            <img src="{% static 'images/Partners-Sponsors-Logo/Logos8.jpg' %}" class="card-img-top" alt="..." style="height: 400px; object-fit:cover;"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card mb-3" style="background-color: transparent; border: none;">
            <img src="{% static 'images/Partners-Sponsors-Logo/Logos9.png' %}" class="card-img-top" alt="..." style="height: 400px; object-fit:cover;"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>


    </div>

</div>

{% endblock content %}