{% extends 'navbar_temp.html' %}
{% block content %}
<div class="container con-with-us  mt-4">

  <div class="card  text-dark mt-4 mb-4">
    <h4 class="card-header">
        PAYMENT DETAILS
    </h4>
    <div class="card-body">
      <h5 class="card-title">Note: After Purchasing and registration of the form, you will receive a group invite link please ensure you join the group through the link provided.</h5>
      <p class="card-text mt-4">Email: {{register_email.email}}</p>
      <p class="card-text mt-4">Phone Number: {{ register_email.phonenumber }}</p>
      <h5 class="text-danger con-with-us">Please, kindly copy, save or take a screenshot the reference number and other details, so as to resolve transactions issues if they may occur.</h5>
      <p class="card-text">Reference Number: {{register_email.ref}}</p>
      <button class="btn btn-dark mt-3" type="button" onclick="payWithPaystack()">PROCEED</button>
    </div>
</div>

    
</div>
{% endblock content %}
{% block scriptholder %}
<script src="https://js.paystack.co/v1/inline.js"></script>

<script type="text/javascript">
  function payWithPaystack() {
    var handler = PaystackPop.setup({
      key: '{{paykey}}', 
      email:"{{register_email.email}}",
      amount: "{{ amount }}" * 100,
      currency: 'NGN',
      ref: '{{ register_email.ref }}',
      metadata: {
          custom_fields: [
             {
                 display_name: "Mobile Number",
                 variable_name: "mobile_number",
                 value: "{{ register_email.phonenumber }}"
             }
          ]
       },
      callback: function(response) {
        console.log(response)
        window.location.href = "{% url 'verify_trans' register_email.ref %}"
      },
      onClose: function() {
        alert('Transaction was not completed, window closed.');
      },
    });
    handler.openIframe();
  }
</script>
{% endblock scriptholder %}