{% extends 'navbar_temp.html' %} {% block content %}
<div></div>
{% include 'partials/_message.html' %}

<div class="container col-md-6">
  <div class="card text-center text-dark mt-4 mb-4">
    <h4 class="card-header text-warning">Registration Successful</h4>
    <div class="card-body">
      <p class="card-text mt-4">
        Thank you for taking interest in Glamour Models Worldwide. Kindly join the group below where all other pospective participants in the Glamour Models Worldwide contest are, while we review your application information. If it is valid youre application will be approved and you will be added to the list of Glamour Models Worldwide Contestants.
      </p>
      <div>
        <a target="_blank" href="https://chat.whatsapp.com/GinF69GoDCp2nH4psjFEKv">Join The Group</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
