{% extends 'navbar_temp.html' %} {% block content %}
<div></div>
{% include 'partials/_message.html' %}

<div class="container col-md-6">
  <div class="card text-center text-dark mt-4 mb-4">
    <h4 class="card-header text-warning">Registration Successful</h4>
    <div class="card-body">
      <p class="card-text mt-4">
        We are currently reviewing your information, if you are selected to
        progress in the competition we will get back to you either via email or
        message
      </p>
    </div>
  </div>
</div>
{% endblock content %}
