{% extends 'navbar_temp.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class = "col-12 d-flex justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch text-dark card border-0">
        <img class="card-img-top" src="{% static 'images/beauty.jpg' %}" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title mb-2">OJOLOWON ADEFOLARIN OLUWADARASIMI</h5>
            <p class="card-text">PRT Project Title:</p>
            <p class="card-text">No of current Votes:</p>
        </div>
        </div>
    </div>

    <div class="mt-5 text-center mb-5">
      <h3 class="text-warning">Email Address</h3>
      <p >email@gmail.com</p>
      <h3 class="text-warning">Reference Number</h3>
      <p >nuibuib2b4ihb5ib</p>
      <h3 class="text-warning">Number of Votes</h3>
      <p >35</p>
      <h3 class="text-warning">Total Price</h3>
      <p >3500</p>
    </div>
</div>
{% endblock content %}